<div id="analysis">
  <h1>Analysis for <%= @user.name %> </h1>
  <ul id="analysis">
    <% @user.categories.sort.each do |category, entities| %>
      <ul><b><%= category.upcase %></b></ul>
      <% entities.sort.each do |entity| %>
        <li><%= entity %></li>
      <% end %>
    <% end %>
  </ul>
</div>
