<div id="username-form">
  <%= form_tag "/fetch", :method => "post", :remote => true, :id => "fetch" do %>
    <%= text_field_tag :user, "twitter handle" %>
    <%= submit_tag("Go") %>
  <% end %>
</div>
<br/>
