<ul id="nav">
  <li><a href="#" class="news">News</a></li>
  <li>|</li>
  <li><a href="#" class="analysis">Analysis</a></li>
  <li>|</li>
  <li><a href="#" class="tweets">Tweets</a></li>
  <li>|</li>
</ul>
