// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_label {
  margin: 0 5px;
}

ul#nav {
  display: none;
}

#analysis {
  display: none;
}

#tweets {
  display: none;
}
