// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_label {
  margin: 0 5px;
}

ul#nav {
  display: none;
}

#analysis {
  display: none;
}

#news {
  display: none;
}

table td {
  vertical-align: top;
}

ul#analysis li {
  font-size: 14px;
}

ul#tweets li {
  font-size: 14px;
}

